.row1{background-color: #fff;padding-top: 40px;padding-bottom: 66px;}
.global1 .border1{border:1px solid #000;height: 82px;line-height: 82px;position: relative;padding:0px 30px;}
.global1 .el2{font-weight: bold;font-size: 18px;}
.global1 .el1{position: absolute;width: 100px;background-color: #fff;top:-30px;left: calc(50% - 50px);line-height: normal;font-size: 48px;font-weight: normal;}
.row1 .flex1{margin-top: 40px;}
.row1 .flex1col1{background-color: #f3e1d5; width: 342px;padding-bottom: 25px;}
.row1 .flex1col1 .line1{padding-top: 50px;}
.row1 .flex1col1 .line2{margin-top: 45px;color: #4c4c4c;padding:0px 20px;}
.row1 .flex1col1 .line3{margin-top: 60px;text-align: center;}
.row1 a.link{background-color: #e57d1a;color: #fff;text-align: center;height: 45px;line-height: 45px;padding:0px 15px;display: inline-block;}
.row1 .flex1col2{width: 426px;}
.row1 .flex1col2>div{background-color: #f3e1d5;height: 175px;padding-top: 25px;}
.row1 .flex1col2>div >table td:nth-child(1){padding:0px 20px;}
.row1 .flex1col2>div >table{height: 150px;}
.row1 .flex1col2>div >table td:nth-child(2)>p{margin-bottom: 25px;}
/**/
.global2 .border1{border:1px solid #000;height: 110px;text-align: center;padding:0px 20px;position: relative;padding-top: 15px;}
.global2 .border1 div.margin1{font-size: 18px;display: block;position: absolute;width: 100%;left: 0px;top:-10px;}
.global2 .border1 div.margin1 span{display: inline-block;background-color: #fff;padding:0px 5px;}
.global2 .border1 a{height: 60px;width: 350px;color: #fff;font-size: 18px;border-radius: 5px;border-spacing: 0px;}
.global2 .border1 a span{text-align: center;}
.global2 .border1 a.table1{background-color: #e57e1a;}
.global2 .border1 a.table1 span:nth-child(1){padding-left: 10px;}
.global2 .border1 a.table2 span:nth-child(1){padding-left: 40px;padding-top: 8px;}
.global2 .border1 a.table2{background-color: #4b4b4b;font-size: 36px;}
.global2 .border1 table{margin:0px auto;border-spacing: 10px;}
.row1 .global2{margin-top: 40px;}
/**/
.row2{background-color: #f4e2d6;padding-top: 40px;padding-bottom: 66px;}
.row2 .global1 .el1{background-color: #f4e2d6;}
.row2 .flex1{margin-top: 40px;}
.row2 .flex1col1{width: 325px;background-color: #fff;color: #444444;}
.row2 .flex1col1 .name{margin-top: 15px;text-align: center;font-size: 18px;}
.row2 .flex1col1 .padding{padding:0px 10px;}
.row2 .flex1col1 table{margin:0px auto;margin-top: 10px;border-spacing: 0px;}
.row2 .flex1col1 table td:nth-child(1){padding-right: 10px;vertical-align: top;}
.row2 .flex1col1 table td:nth-child(1) span{display: inline-block;border:1px solid #444444;width: 20px;height: 20px;text-align: center;vertical-align: middle;line-height: 20px;border-radius: 50%;}
.row2 .flex1col1 table td{padding-bottom: 10px;}
.row2 .global2{margin-top: 50px;}
.row2 .global2 .border1 div.margin1 span{background-color: #f4e2d6}
/**/
.row3{background-color: #fff;padding-top: 40px;padding-bottom: 66px;}
.row3 .flex1{margin-top: 40px;}
.row3 .flex1col1{background-color: #f5f5f5;padding:8px;width: 280px;padding-bottom: 15px;margin-bottom: 25px;}
.row3 .flex1col1 .name{margin-top: 20px;color: #2e2e2e;}
.row3 .flex1col1 .border{border:1px solid #e57e1a;margin-top: 20px;color: #e57e1a;padding:0px 10px;}
.row3 .flex1col1 .border table{margin:0px auto;height: 45px;}
.row3 .flex1col1 .border table i{font-size: 20px;}
.row3 .global2{margin-top: 50px;}
/**/
.row4{background-color: #f3f2f2;padding-top: 40px;padding-bottom: 66px;}
.row4 .global1 .el1{background-color: #f3f2f2;}
.row4 .flex1{margin-top: 40px;}
.row4 .flex1col1{width: 33.33%;padding-bottom: 30px;}
.row4 .flex1col1.bg1{background-color: #e57e1a;}
.row4 .flex1col1.bg2{background-color: #d57707;}
.row4 .flex1col1.bg3{background-color: #676767;}
.row4 .flex1col1 .name{height: 68px;line-height: 68px;background-color: #fff;margin:2px;text-align: center;text-transform: uppercase;font-size: 18px;}
.row4 .flex1col1 .border{margin:20px 15px 20px 15px;border:1px solid #fff;padding-top: 30px;padding-bottom: 50px;height: 347px;}
.row4 .flex1col1 .border .table1{margin:0px auto;color: #fff;}
.row4 .flex1col1 .border .table1 >tbody>tr>td:nth-child(1){padding-right: 22px;}
.row4 .flex1col1 .border .table2 td{padding-bottom: 10px;}
.row4 .flex1col1 .border .table2 td:nth-child(1){padding-right:5px;}
.row4 .flex1col1 .border .table2 td:nth-child(1) span{display: inline-block;border:1px solid #fff;width: 20px;height: 20px;text-align: center;vertical-align: middle;line-height: 20px;border-radius: 50%;}
.row4 .flex1col1 .border2{border:1px dashed #fff;margin:0px 20px;margin-top: 30px;}
.row4 .flex1col1 .des{margin:0px 20px;margin-top: 30px;text-align: justify;color: #fff;}
.row4 .flex1col1 .footer{margin-top: 20px;text-align: center;}
.row4 .flex1col1 .footer a{display: inline-block;text-align: center;background-color: #fff;width: 250px;height: 54px;text-transform: uppercase;font-size: 18px;line-height: 54px;color: #000;}
/**/
.row4 .margin1{margin-top: 65px;}
.row4 .margin1 table{margin:0px auto;}
.row4 .margin1 table .bg1{background-image: url('chuyende-27.png');background-repeat: no-repeat;background-position: center;width: 423px;height: 211px;}
.row4 .margin1 table .bg3{background-image: url('chuyende-28.png');background-repeat: no-repeat;background-position: center;width: 464px;height: 232px;}
.row4 .margin1 table .bg2{background-color: #e57e1a;color: #fff;width: 190px;height: 190px;border-radius: 50%;}
.row4 .margin1 table tr td{vertical-align: bottom;}
.row4 .margin1 table tr td:nth-child(2){padding:0px 20px;}


























