#popup-desktop{position: fixed;left: calc(50% - 250px);top: calc(50% - 175px);width:500px;height: 350px;transition: all .8s ease-out 0s;transform: scale(0, 0);z-index: 9;}
#popup-desktop .my_close{top:0px;right: 0px;position: absolute;color: #928577;font-size: 20px;width: 20px;height: 20px;}
#popup-desktop.active {
  	transform: scale(1, 1);
}



































