div.row1{padding:25px 0px;}
div.row1 .items{vertical-align: middle;text-align: center;}
div.row1 .item{background-color: #a2917f;height: 146px;width:150px;border-radius: 5px;display: inline-block;overflow: hidden;}
div.row1 .item:nth-child(1){width: 436px;}
div.row1 .table1{width: 436px;}
div.row1 .table1>.cell1{width: 150px;}
div.row1 .item .bg1{background-image: url('imghome/home-5.png');width:150px;height: 146px;}
div.row1 .item .bg2{background-image: url('imghome/home-6.png');width:150px;height: 146px;}
div.row1 .item .bg3{background-image: url('imghome/home-7.png');width:150px;height: 146px;}
div.row1 .item .bg4{background-image: url('imghome/home-8.png');width:150px;height: 146px;}
div.row1 .table1> .cell1 a{text-transform: uppercase;display: block;text-align: center;margin-top: 50px;color: #fff;margin-top:80px;}
div.row1 table{width:100%;}
div.row1 table tr td{width:50%;padding:10px 0px;padding-left: 20px;}
div.row1 .cell2 a i{font-size: 8px;color: #5e3c19;}
div.row1 .cell2 a{color: #fff;}
/**/
div.row2{background: linear-gradient(#f0eeee, #cecece);height: 63px;}
div.row2 table{height: 63px;}
div.row2 table input{height: 27px;border:1px solid #9c9c9c;border-top-left-radius: 15px;border-bottom-left-radius: 15px;padding-left: 10px;}
div.row2 table input:focus{outline: none;}
div.row2 table button{background-color: #ebebeb;height: 27px;width: 36px;outline: none;border:1px solid #9c9c9c;border-left: none;border-top-right-radius: 3px;border-bottom-right-radius: 3px;color: #5f3d1a;margin-left: -5px;}
/**/
div.row3{margin-top: 10px;}
div.row3 .flex1col1{width: 378px;background-color: #fff;padding:20px;}
div.row3 .flex1col2{width: 416px;background-color: #fff;padding:10px;}
div.row3 .flex2col1{color: #3b3b3b;text-align: center;font-size: 14px;}
div.row3 .flex2col1.active{border-bottom: 1px solid #5e3c19;}
div.row3 .flex2col1 table{width: 100%;border-spacing: 0px;}
div.row3 .flex2col1 .bg{display: inline-block;background-image: url('imghome/home-10.png');background-repeat: no-repeat;width: 15px;height: 22px;}
div.row3 .flex2col1 .bg1{background-position: 0px -26px;}
div.row3 .flex2col1 .bg1.active{background-position: 0px -2px;}
div.row3 .flex2col1 .bg2{background-position: -31px -24px;}
div.row3 .flex2col1 .bg2.active{background-position: -31px 3px;}
div.row3 .flex2col1 .bg3{background-position: -60px -24px;}
div.row3 .flex2col1 .bg3.active{background-position: -60px 1px;}
div.row3 .flex1col2 .img1{margin:10px auto;}
div.row3 .flex1col2 .posts .post-first .name{color: #5e3c19;}
div.row3 .flex1col2 .posts .post-first .des1{color: #3d3d3d;margin:0px 25px;margin-top: 10px;border-bottom: 1px dashed #3d3d3d;padding-bottom: 15px;}
div.row3 .flex1col2 .posts .post-first .des1 a{color: red;}
div.row3 .flex1col2 .posts table{margin:0px 25px;}
div.row3 .flex1col2 .posts table tr td{padding-top: 15px;color: #5e3c19;}
div.row3 .flex1col2 .posts table tr td:nth-child(1){width: 100px;}
div.row3 .flex1col3{width: 380px;background-color: #fff;padding:10px;}
div.row3 .flex1col3 .des1{color: #535353;margin:0px 10px;margin-top: 15px;}
div.row3 .flex1col3 .des1 a{color: red;}
div.row3 .flex1col3 .bg{background-color: #5e3c19;margin:0px -10px;margin-top: 10px;color: #fff;padding:5px;}
div.row3 .flex1col3 .bg table{margin:0px auto;}
/**/
div.row3 .flex1col3 table.footer{margin:0px auto;width: 100%;margin-top: 5px;}
div.row3 .flex1col3 table.footer tr td{border-bottom: 1px dashed #c9c9c9;height: 47px;}
div.row3 .flex1col3 table.footer tr td:nth-child(2){border-right: 1px dashed #c9c9c9;}
div.row3 .flex1col3 table.footer tr:last-child td{border-bottom: none;}
div.row3 .flex1col3 table tr td i{background-image: url('imghome/home-14.png');background-repeat: no-repeat;width: 32px;height: 32px;display: inline-block;}
div.row3 .flex1col3 table tr td:nth-child(3){padding-left: 5px;}
div.row3 .flex1col3 table tr td i.bg1.active{background-position: 0px 0px;}
div.row3 .flex1col3 table tr td i.bg1{background-position: -104px 0px;}
div.row3 .flex1col3 table tr td i.bg2.active{background-position: -43px 0px;}
div.row3 .flex1col3 table tr td i.bg2{background-position: -150px 0px;}
div.row3 .flex1col3 table tr td i.bg3.active{background-position: 0px -39px;}
div.row3 .flex1col3 table tr td i.bg3{background-position: -104px -46px;}
div.row3 .flex1col3 table tr td i.bg4.active{background-position: 0px -43px;}
div.row3 .flex1col3 table tr td i.bg4{background-position: -150px -46px;}
div.row3 .flex1col3 table tr td i.bg5.active{background-position: 0px -77px;}
div.row3 .flex1col3 table tr td i.bg5{background-position: -104px -93px;}
div.row3 .flex1col3 table tr td i.bg6.active{background-position: -43px -77px;}
div.row3 .flex1col3 table tr td i.bg6{background-position: -150px -93px;}
div.row3 .flex1col3 table tr td i.bg7.active{background-position: 0px -116px;}
div.row3 .flex1col3 table tr td i.bg7{background-position: -104px -139px;}
div.row3 .flex1col3 table tr td i.bg8.active{background-position: -43px -116px;}
div.row3 .flex1col3 table tr td i.bg8{background-position: -150px -139px;}




















































