.home .row1{padding:0px 5px;margin-top: 15px;}
.home .row1 .border{border:1px solid #ddd;border-radius: 5px;vertical-align: middle;height: 55px;display: table;width: 100%;padding:0px 5px;}
.home .row1 .border span{padding-left: 10px;color: #454545;font-size: 12px;}
/**/
.home .row2{margin-top: 30px;padding:0px 5px;}
.home .row2 tr td{padding:0px 5px;color: #454545;width:33.33%;}
.home .row2 tr td div:nth-child(2){margin-top: 5px;height: 40px;}
/**/
.home .row3{background-color: #e8e8e8;padding:0px 0px;margin-top: 30px;}
.home .row3 .title{background-color: #00877d;color: #fff;height: 48px;margin: 0px 5px;padding-left: 10px;}
.home .row3 .title span{display: table-cell;height: 48px;vertical-align: middle;}
.home .row3 .dis-table{border-spacing: 5px;}
.home .row3 .dis-table:nth-child(n+3){margin-top: -5px;}
.home .row3 .dis-table a{background-color: #fff;color: #00877d;text-align: center;height: 53px;}
/**/
.home .row4{background-color: #fff;padding:0px 0px;margin-top: 30px;}
.home .row4 .title{background-color: #00877d;color: #fff;height: 48px;margin: 0px 5px;padding-left: 10px;}
.home .row4 .title span{display: table-cell;height: 48px;vertical-align: middle;}
.home .row4 .bg{background-color: #00877d;margin: 0px 5px;margin-top: 5px;padding-top: 15px;padding-right: 5px;padding-bottom: 18px;}
.home .row4 .bg table {color: #fff;}
.home .row4 .bg table input{outline: none;box-shadow: none;height: 30px;background-color: #fff;display: block;width: 100%;border:none;padding-left: 5px;color: #454545;}
.home .row4 .bg table tr td:nth-child(1){padding-left: 5px;}
.home .row4 .bg table select{display: block;width: 100%;height: 30px;color: #454545;border:none;outline: none;box-shadow: none;background-color:#fff;}
.home .row4 .bg table tr td{padding-bottom: 10px;}
.home .row4 .bg .button{margin-top: 20px;}
.home .row4 .bg .button button{height: 30px;border-radius: 5px;background-image: linear-gradient(#fff,#d5c496);color: #00877d;border:1px solid #005f38;width: 100px;}


































