header .bg{background-color: #00877d;padding:20px 5px;}
header .bg td:nth-child(2){padding-left: 10px;color: #fff;}
header .bg td:nth-child(2) .name{font-size: 15px;font-weight: bold;}
header .bg td:nth-child(2) .slogan{font-style: italic;}
header .bg td:nth-child(3) >div{background-color: #4eb9b1;color: #fff;text-align: center;height: 50px;padding:0px 5px;font-weight: bold;display: table;font-size: 12px;}
/**/
menu .row1{padding:0px 0px;}
menu .row1:nth-child(n+2){margin-top: -5px;}
menu .row1 .dis-table{border-spacing: 5px;}
menu .row1 a{background-color: #6faa70;color: #fff;height: 78px;padding:0px 0px;}
menu .row1 a img{min-width: 30px;}
menu .row1 a span{display: table-cell;vertical-align: middle;text-align: center;padding-left: 5px;font-size: 12px;}
menu .row1 a.cell3{background-color: #ff767b;}
menu .row1 a.cell4{background-color: #009ebc;}
menu .row1 a.cell6{background-color: #ffa645;font-size: 24px;}
menu .row1 a.cell6 span{font-size: 20px;}
menu .row1 a.cell7{background-color: #009e9a;}
















































