header .bg{background-color: #00877d;padding:20px 5px;}
header .bg td:nth-child(2){padding-left: 10px;color: #fff;}
header .bg td:nth-child(2) .name{font-size: 15px;font-weight: bold;}
header .bg td:nth-child(2) .slogan{font-style: italic;}
header .bg td:nth-child(3) >div{background-color: #4eb9b1;color: #fff;text-align: center;height: 50px;padding:0px 5px;font-weight: bold;display: table;font-size: 12px;}














































