footer{margin-top: 20px;padding-bottom: 0px;}
footer div.bg{background-color: #00877d;padding-top: 20px;padding-bottom: 10px;}
footer div.bg .dis-table.table1{color: #fff;padding:0px 10px;max-width: 400px;margin:0px auto;}
footer div.bg .dis-table.table1 span{padding-left: 5px;font-weight: bold;font-size: 14px;}
footer div.bg div.bg2{background-color: #fff;border-radius: 10px;margin:0px 5px;margin-top: 10px;padding:15px 10px;padding-top: 15px;}
footer div.bg div.bg2 .line1{border:2px solid #e99c08;height: 45px;padding-left: 10px;border-radius: 5px;display: table;width: 100%;border-spacing: 0px;max-width: 400px;margin: 0px auto;}
footer div.bg div.bg2 .line1 .cell2{font-size: 20px;font-weight: bold;color: #e99c08;}
footer div.bg div.bg2 .line1 .cell3{background-color: #e99c08;color: #fff;font-size: 12px;padding:0px 5px;position: relative;}
footer div.bg div.bg2 .line2{margin-top: 10px;}
footer div.bg div.bg2 .table2{color: #e99c08;max-width: 330px;margin:0px auto;}
footer div.bg div.bg2 .table2 td{vertical-align: bottom;text-align: center;}
footer div.bg div.bg2 .table2 td:nth-child(2){font-size: 15px;}
footer div.bg div.bg2 .table2 td:nth-child(3){font-size: 11px;}
footer div.bg div.bg2 .line3{margin-top: 10px;text-align: center;color: #e99c08;}
footer div.bg .goTop{margin-top: 20px;color: #fff;font-size: 12px;text-align: center;}
footer div.bg .goTop >table{max-width: 400px;margin:0px auto;}
footer div.bg .goTop{padding-top: 10px;border-top: 1px solid #159188;height: 50px;}
footer .toolbar{color: #fff;position: fixed;width: 100%;bottom:0;}
footer .toolbar .dis-table.table1{height: 60px;border-spacing: 0px;}
footer .toolbar .dis-table.table1 a{width: 50%;text-align: center;padding:0px 5px;}
footer .toolbar .dis-table.table1 a:nth-child(1){background-color: #22cdbd;font-size: 18px;}
footer .toolbar .dis-table.table1 a:nth-child(2){background-color: #20a4cd;font-size: 13px;}


/**/
/*footer .toolbarTerm{position: fixed;bottom: 0px;width: 100%;max-width: 640px;margin:0px auto;}
footer .toolbarTerm .table-cell.cell1{padding:5px;background-color: #038ea7;color: #fff;width: 33%;}
footer .toolbarTerm .table-cell i{display: inline-block;width: 25px;height: 26px;line-height: 26px;background-image: url('imgterm/icon-4.png');background-repeat: no-repeat;background-position: 0px 0px;}
footer .toolbarTerm .table-cell.cell2 i.bg2{width: 35px;background-position: -188px 0px;background-image: url('imgterm/icon-4.gif')}
footer .toolbarTerm .table-cell.cell1 i.bg3{background-position: -405px 0px;}
footer .toolbarTerm .table-cell.cell2:nth-child(2){background-color: #ffb400;color: #fff;}*/

/*footer .toolbar{color: #fff;position: fixed;width: 100%;bottom:0;max-width: 640px;margin:0px auto;}
footer .toolbar .dis-table.table1{height: 60px;border-spacing: 0px;}
footer .toolbar .dis-table.table1 a{width: 50%;text-align: center;padding:0px 5px;}
footer .toolbar .dis-table.table1 a:nth-child(1){background-color: #22cdbd;font-size: 18px;}
footer .toolbar .dis-table.table1 a:nth-child(2){background-color: #20a4cd;font-size: 13px;}*/

/*forTerm*/
footer .footer-toolbar.toolbarTerm{background: none;}
footer .footer-toolbar.toolbarTerm .flex2{min-height:40px;}
footer .footer-toolbar.toolbarTerm .table-cell.cell1{padding:5px;background-color: #038ea7;color: #fff;width: 33%;}
footer .footer-toolbar.toolbarTerm .table-cell i{display: inline-block;width: 25px;height: 26px;line-height: 26px;background-image: url('../../images/mobile/icon-4.png');background-repeat: no-repeat;background-position: 0px 0px;}
footer .footer-toolbar.toolbarTerm .table-cell.cell2 i.bg2{width: 35px;background-position: -188px 0px;background-image: url('../../images/mobile/icon-4.gif')}
footer .footer-toolbar.toolbarTerm .table-cell.cell1 i.bg3{background-position: -405px 0px;}
footer .footer-toolbar.toolbarTerm .table-cell.cell2:nth-child(2){background-color: #ffb400;color: #fff;}
/*forPost*/
footer .footer-toolbar.toolbarPost{background: none;}
footer .footer-toolbar.toolbarPost .flex2{min-height:40px;}
footer .footer-toolbar.toolbarPost .table-cell.cell1{padding:5px;background-color: #038ea7;color: #fff;width: 33%;}
footer .footer-toolbar.toolbarPost .table-cell i{display: inline-block;width: 25px;height: 26px;line-height: 26px;background-image: url('../../images/mobile/icon-4.png');background-repeat: no-repeat;background-position: 0px 0px;}
footer .footer-toolbar.toolbarPost .table-cell.cell2 i.bg2{width: 35px;background-position: -188px 0px;background-image: url('../../images/mobile/icon-4.gif')}
footer .footer-toolbar.toolbarPost .table-cell.cell1 i.bg3{background-position: -405px 0px;}
footer .footer-toolbar.toolbarPost .table-cell.cell2:nth-child(2){background-color: #ffb400;color: #fff;}