.toolbar2 .dis-table{width: 100%;border-spacing: 0px;}
.toolbar2 .dis-table .table-cell{padding:0px 0px;width: 33.33%;color: #fff;height: 45px;line-height: 45px;}
.toolbar2 .dis-table .table-cell img{vertical-align: middle;}
.toolbar2 .dis-table .table-cell img.pos-absolute{top:-25px;left: calc(50% - 25px);}
.toolbar2 .dis-table .table-cell span.pos-absolute{top:11px;width:60px;left: calc(50% - 30px);}
.toolbar2 .dis-table .table-cell span{font-weight: bold;}
.toolbar2 .dis-table .cell1{background-color: #06a9d7;}
.toolbar2 .dis-table .cell2{background-color: #c7282c;}
.toolbar2 .dis-table .cell3{background-color: #06a9d7;}
















































